/* Write your CSS here */

/* Write your CSS here */
.cover-con {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 20px;
  padding: 20px;
}
.head {
  font-size: 24px;
  font-weight: 600;
  color: #94a3b8;
}
